.LandingPage{
    margin: 0;
}

.TopBar{
    margin: 0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

.headerTitle{
    position: relative;
    
    margin: 0 auto;
    margin-top:40px;
    height: 99px;
   
    
    text-align: center;
    
    
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 74px/99px var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: center;
    font: normal normal normal 74px/99px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    line-height: normal;
}

.welcomeMessage{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-54)/var(--unnamed-line-spacing-72) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: center;
    font: normal normal normal 54px/72px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

    margin: 0;
    margin-top: 10px;
    font-size: 32px;
    height: 32px;
}

.contentContainer{
    width: 1250px;
    margin: 0 auto;
 
    
}

.cardContentHeader{
    height: 53px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 40px/53px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 40px/53px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 10px;
}

.cardContainer{
    width: 1246px;
    height: 592px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}



