.headerTitle{
    position: relative;
    
    margin: 0 auto;
    height:170px;

    text-align: center;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-128)/var(--unnamed-line-spacing-170) var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: center;
    font: normal normal normal 128px/170px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.FormBox{
    margin: 0 auto;
    margin-top: 40px;
    width: 600px;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #000000B8;
    border: 1px solid #707070;
    border-radius: 18px;
    opacity: 1;

    

    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.FormHeader{

    margin: 0;
    margin-top:18px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 39px/52px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 39px/52px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.Label-InputBox{
    margin-top: 18px;
    display:flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 0 30px 0 30px;
    width:100%;

   
    
}
.Label-InputBox:nth-child(0){
    margin-top:11px;
}

.form-label{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/24px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.input-box{
    width: calc(100% - 30px);
    height: 52px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 3px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #707070;
    border-radius: 0px;
    opacity: 1;
    margin: 0 auto;
    margin-top: 11px;


    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/24px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding:  0 10px;

    transition: all .4s ease-in-out;
}

.input-box:focus{
    outline:none;
    border-radius: 21px;
    border-color: #31EEE7 ;
}

.Login-button{
    position: relative;
    margin-top: 18px;
    width:calc(100% - 60px);
    box-sizing: border-box;

    
    background: #2E2828 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;

    cursor: pointer;
   
}

.Login-button:hover{
    bottom: 3px;
    
   
}



.Login-button-text{

    margin: 6px 0;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 24px/32px var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 24px/32px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    transition: all 1s ease-in-out;
}

.account-exists{


    margin-top:18px;
    margin-bottom:58px;
    text-decoration: none;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 20px/26px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
