.LandingPage{
    margin: 0;
}

.TopBar{
    margin: 0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

.headerTitle{
    position: relative;
    
    margin: 0 auto;
    margin-top:76px;
  
    
    text-align: center;
    
    
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-128)/var(--unnamed-line-spacing-170) var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
   
    font: normal normal normal 128px/170px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.ButtonContainer{
    
    position: absolute;

    width: 508px;

    left:71%;
    top: 0px;
    

    
    
    
    
   

   
   
}


.navButton{
    position: relative;
    border: 3px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #50474747;
    border: 3px solid #707070;
    border-radius: 14px;
    opacity: 1;
    width: 174px;
    height: 52px;


    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-28)/var(--unnamed-line-spacing-37) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    
    font: normal normal normal 28px/37px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

    margin: 75px;
    margin-left: 40px;
    margin-right:40px;

    cursor: pointer;

    transition: all 1s ease-in-out;
    

}

.navButton:hover{

    bottom:3px;
    background-color: rgb(187, 238, 238);;
}

.ContentContainer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: 0 auto;
    margin-top:5%;

    width:1200px;
    
}


.LandingPageArtikle{
    width: 535px;
height: 320px;

font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 24px/32px var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000000);
text-align: justify;
font: normal normal normal 24px/32px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;


}

.LandingPageBox{
    width: 368px;
    height: 368px;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 30px;
    opacity: 1;
}

.LandingPageBoxHeader{
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 65px/86px var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000000);

font: normal normal normal 65px/86px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.centerSignupButton{
    
    margin-top:111px;
    display: flex;
    justify-content:center;
}

.SignUpButton{

   position: relative;

    width: 286px;
    height: 86px;
    border: 3px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #50474747;
    border: 3px solid #707070;
    border-radius: 33px;
    opacity: 1;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 47px/62px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: center;
    font: normal normal normal 47px/62px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

    cursor: pointer;
    transition: all 2s ease-in-out;

}

.SignUpButton:hover{

    bottom:3px;
    background-color: rgb(187, 238, 238);


}


.welcomeBackMessage{
   margin: 0;
    margin-top:56px;
    height: 73px;
    
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-54)/var(--unnamed-line-spacing-72) var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000000);
text-align: center;
font: normal normal normal 54px/72px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.subWelcomeMessage{
    margin: 0 auto;
    margin-top:22px;
    text-align: center;

    width: 475px;
    height: 54px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-41)/var(--unnamed-line-spacing-54) var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
  
    font: normal normal normal 41px/54px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.recentlyTodoBox{
    box-sizing: border-box;
    padding: 0 50px;
    margin: 0 auto;
    margin-top:8px;
    width: 535px;
    height: 215px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 26px;
    opacity: 1;
    overflow: hidden;
    

    display:flex;
    flex-direction: column;
    align-items: center;

}

.recentTodoButton{
    position: relative;
    margin-top: 18px;
   
    width: 100%;
    
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000052;
    border: 1px solid #707070;
    border-radius: 15px;
    opacity: 1;
    cursor: pointer;
}

.recentTodoButton:hover{
   left: 12px;
}

.recentTodoButton-text{
    
    width:100%;
    margin: 9px 0;
    margin-left: 15px;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 17px/22px var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 17px/22px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

    
}


.loggedInButtonBox{
    margin-top: 83px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}

.navigationLoggedIn{
    position: relative;
    width: 320px;
    height: 85px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 3px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #707070;
    border-radius: 35px;
    opacity: 1;

cursor: pointer;

margin: 0 50px;
}

.navigationLoggedIn:hover{
    bottom:3px;
}
.navigationButtonText{
    height: 54px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-41)/var(--unnamed-line-spacing-54) var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 41px/54px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#dashboardButton{
    background-color: rgb(179, 255, 255);
}


